body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}
.navbar {
    height: 5rem ;
    background-color:white;
}
.container-fluid{
    background-color: whitesmoke;
}
.fa-compass{
    color: brown;
    font-size: 2rem;

}

.footer{
    background-color: aliceblue;
    justify-content: center;
    flex-wrap: wrap;
   border-radius:  2px;
   border-color: black;
    
}
a {
    text-decoration: none;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem ;
} 

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p {
  font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-image-overlay {
    opacity: 0;
}

.card-image-overlay:hover {
    opacity: 0.2;
    background-color: white;
}
.add-btn {
    background-color: #fe424d  !important;
}
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}
.show-img {
    height: 30vh;
}
.btns {
    display: flex;
    padding-top: 2rem;
    margin-top: 5rem;
    margin: 1rem;
    padding-left: 19rem;
}
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
}
.card-text p {
font-weight: 400;
}
